* {
	position: relative;
}

#showText {
	display: none;
}

#bodyContainer {
	padding-top: 70px;
}

#navigationText {
	font-weight: bold;
	font-size: 25px;
	font-family: "Arial";
}

/* Animation jQuery */
#slide_right_h1 {
	position: relative;
	width: 300px;
	left: 0;
}

#slide_left_go_transparent {
	position: relative;
	left: 85%;
}